Repository rafaumeu/cv, changes with the labels that .github/labeler.yml gives for each.
All labels: feature, bug, documentation, dependencies, tests

.github/labeler.yml:

feature:
  - "feat/*"
  - "feature/*"

bug:
  - "fix/*"
  - "bugfix/*"

documentation:
  - "docs/*"
  - "**/*.md"

dependencies:
  - "package.json"
  - "yarn.lock"
  - "package-lock.json"

tests:
  - "tests/**/*"
  - "**/*.test.ts"
  - "**/*.spec.ts"

feat(api): add github integration
  src/api/github-projects.ts
  src/api/github.ts
  src/hooks/useGithubRepositories.ts
Labels: none

feat(i18n): enhance internationalization system
  src/i18n/LanguageProvider.tsx
  src/i18n/messages.d.ts
  src/i18n/repositories.ts
  src/i18n/types.ts
  src/i18n/types/errors.ts
  src/i18n/utils/flattenMessages.ts
Labels: none

docs(readme): enhance documentation
  README.md
Labels: documentation

feat(api): improve OG Image error handling
  api/og.tsx
Labels: none

refactor(context): consolidate language context implementation
  src/contexts/LanguageContext.ts
  src/contexts/language.context.ts
  src/hooks/useLanguage.ts
  src/i18n/LanguageProvider.tsx
Labels: none

chore(test): configure Vitest and testing environment
  package.json
  src/setupTests.ts
  vitest.config.ts
Labels: dependencies

test(components): add comprehensive test coverage
  src/components/Card.test.tsx
  src/components/CertificationList.test.tsx
  src/components/Education.test.tsx
  src/components/Experience.test.tsx
  src/components/ExperienceCard.test.tsx
  src/components/ExperienceItem.test.tsx
  src/components/Header.test.tsx
  src/components/LanguageList.test.tsx
  src/components/LanguageSwitcher.test.tsx
  src/components/LanguageTitle.test.tsx
  src/components/MainLayout.test.tsx
  src/components/OgImage.test.tsx
  src/components/ProfileSelector.test.tsx
  src/components/ProjectCard.test.tsx
  src/components/ProjectItem.test.tsx
  src/components/Projects.test.tsx
  src/components/SchemaMarkup.test.tsx
  src/components/SkillCategory.test.tsx
  src/components/Skills.test.tsx
  src/components/SkipLink.test.tsx
  src/components/StarButton.test.tsx
  src/components/Summary.test.tsx
  src/components/ThemeToggle.test.tsx
  src/components/Tooltip.test.tsx
  src/layouts/MainLayout.test.tsx
  src/utils/smartTranslate.test.ts
Labels: tests

feat(e2e): add Playwright E2E testing setup
  e2e/internationalization.spec.ts
  e2e/profile-switching.spec.ts
  e2e/responsive-design.spec.ts
  playwright.config.ts
Labels: tests

refactor(components): improve component architecture
  src/api/github-projects.ts
  src/api/github.ts
  src/components/Education.tsx
  src/components/ProjectCard.tsx
  src/components/Projects.tsx
  src/components/RepositoryCard.tsx
  src/components/SkillCategory.tsx
  src/components/ui/button-variants.ts
  src/components/ui/button.tsx
  src/components/ui/card/CardContent.tsx
  src/components/ui/card/CardHeader.tsx
  src/components/ui/card/CardTitle.tsx
  src/config/github.ts
  src/utils/autoTranslate.ts
  src/utils/date.ts
  src/utils/github.ts
  src/utils/smartTranslate.ts
Labels: none

chore(deps): update project configuration and dependencies
  tsconfig.node.json
  vite.config.ts
  yarn.lock
Labels: dependencies

refactor(theme): consolidate theme context implementation
  src/contexts/ThemeContext.ts
  src/contexts/theme.context.ts
  src/providers/ThemeProvider.tsx
Labels: none

refactor(github): improve repository hook and types
  src/hooks/useGithubRepositories.ts
  src/types/cv.ts
Labels: none

feat(layout): enhance print layout and translations
  src/i18n/repositories.ts
  src/layouts/PrintLayout.tsx
Labels: none

chore: add screenshots directory
  screenshots/.gitkeep
Labels: none

docs: fix incorrect Next.js claim, fix clone URL, fix demo URL, remove sponsor section
  README.md
Labels: documentation

feat: update CV with real personal data from LinkedIn
  package-lock.json
  src/data/cv-data.ts
  src/data/education.ts
  src/data/languages.ts
  src/data/profiles/backend.ts
  src/data/profiles/frontend.ts
  src/data/profiles/fullstack.ts
  src/i18n/messages/en-US.ts
  src/i18n/messages/pt-BR.ts
  yarn.lock
Labels: dependencies

fix: upgrade Node.js 18.x → 22.x for Vercel deploy
  package.json
Labels: dependencies

fix: vercel.json build config — remove Node 18.x, fix build command
  vercel.json
Labels: none

fix: use Node 20.x for Vercel compatibility
  package.json
Labels: dependencies

fix: remove Next.js/Vercel node deps causing deploy failure
  api/og.tsx
  package-lock.json
  package.json
  vercel.json
Labels: dependencies

fix: resolve 32 missing i18n keys in pt-BR and en-US
  src/i18n/messages/en-US.ts
  src/i18n/messages/pt-BR.ts
Labels: none

feat: improve dark mode (deeper theme, animated toggle, gradient header) + add Vercel Analytics
  package-lock.json
  package.json
  src/components/Projects.tsx
  src/components/ThemeToggle.tsx
  src/data/projects.ts
  src/index.css
  src/layouts/MainLayout.tsx
  src/main.tsx
  src/styles/print.css
  src/styles/themes.css
  yarn.lock
Labels: dependencies

feat: replace GitHub API projects with rich static data from READMEs
  src/components/ProjectItem.tsx
Labels: none

fix: update robots.txt and sitemap to correct Vercel domain
  public/robots.txt
  public/sitemap.xml
Labels: none

docs: upgrade README to professional standard
  README.md
Labels: documentation

docs: fix badge rendering (markdown inside HTML)
  README.md
Labels: documentation

fix: dark mode contrast - replace hardcoded colors with theme tokens
  src/components/ExperienceItem.tsx
  src/components/LanguageSwitcher.tsx
  src/components/ProfileSelector.tsx
  src/components/ProjectCard.tsx
  src/components/SkillCategory.tsx
  src/components/ui/card/Card.tsx
Labels: none

ci: add standard dependabot configuration
  .github/dependabot.yml
Labels: none

fix: replace pink (#FF0080) with gold (#FFCA28) in header/footer
  README.md
Labels: documentation
